@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model HealthHub_Records.ViewModels.AllPatientDetails

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "GetAllPatients";
    var userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserId");

    @if (!userId.HasValue)
    {
        <script>
            window.location.href = '@Url.Action("Index", "Home")';
        </script>
    }
}

<h3><em>Patients</em></h3>

<table class="table table-info table-striped">
    <thead>
        <tr>
            <th>
                Firstname
            </th>
            <th>
               Lastname
            </th>
            <th>
               Address
            </th>
            <th>
                State
            </th>
            <th>
                City
            </th>
            <th>
                DOB
            </th>
            <th>
               PhoneNo
            </th>
            <th>
                Gender
            </th>
            <th>
                Status
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patients) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
                <td>
                   @item.Users.isactive
                </td>


            <td>
                    <a asp-action="Active" asp-route-id="@item.userid" class="btn btn-primary">Active</a> |
               
                    <a asp-action="Inactive" asp-route-id="@item.userid" class="btn btn-danger">Block</a>
            </td>
        </tr>
}
    </tbody>
</table>
