@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<HealthHub_Records.Models.Reports>

@{

    Layout = "_PatientLayout";
    ViewData["Title"] = "ViewReport";
    var userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserId");

    @if (!userId.HasValue)
    {
        <script>
            window.location.href = '@Url.Action("Index", "Home")';
        </script>
    }
}

<table class="table table-info table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
          
            <td>
                <a asp-controller="Patient" asp-action="Download" asp-route-id="@item.userid" class="btn btn-primary">Download</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>
