@model IEnumerable<HealthHub_Records.Models.Reports>

@{
    Layout = "_HospitalLayout";
    ViewData["Title"] = "PatientReports";
}

<h4 style="text-align:center;background-color:gray;font-size:large">Patient Reports</h4>

<p>
    <a asp-controller="Hospital" asp-action="PatientD" asp-route-id="@ViewBag.UId" style="font-size:large"> Back to List </a>
</p>
<table class="table" style="font-size:large">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
          
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
           
            <td>
                <a  asp-controller="Patient" asp-action="Download" asp-route-id="@item.userid">Download</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
